<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href = "/css/styles.css" />

    </head>
    <body>
        <h1>{{title}}</h1>
        <p>Created By: {{name}}</p>
        <img src="img/mufc1.jpg">
    </body>
</html>